body {
    margin: 0;
    background-color:#B23520;
  }
  

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 200;
    font-style: normal;
  }  
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-style: normal;
  }
.menu{
  overflow: hidden;
  width: 100%;
  position: fixed;
  list-style-type: none;
  background-color:#d0b06b;
}
.menu li a{
  display: block;
  text-decoration: none;
  color:#ECDBC5;
  padding: 10px;
  font-family: "Indie Flower";
  text-align: center; 
  font-size: 20 px;
}
.menu li a:hover{
    color: #B23520;
    background-color: #B8CCEC;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.header {
    
    overflow: hidden;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
h1{
    letter-spacing: 9px;
    font-size: 130px;
    color:#ECDBC5;
    font-family: "Indie Flower";
    width: 100%;
    text-align: center;
    padding-top: 200px;
    
}
@media only screen and (min-width: 768px) {
  .menu li a{
    display: inline;
  }
  .menu {
    height: 33px;
  }
  h1{
    padding-top: 0px;
  }
}

.descripccion {    

    overflow: hidden;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: #d0b06b;
}

h2 {
    letter-spacing: 3px;
    font-size: 20px;
    color: #ECDBC5 ;
    font-family: "Indie Flower";
    width: 100%;
    text-align: center;
    padding: 5px;

  }

a {
    text-decoration: none;
}

h3 {
    letter-spacing: 5px;
    font-size: 35px;
    color: #B23520 ;
    font-family: "Indie Flower";
    width: 100%;
    text-align: center;

  }

li {
    display: inline;

}
* {
    box-sizing: border-box;
  }

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 10px;
  margin: 5%
}

.grid-item-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Indie Flower";
  font-size: 20px;
  color: #ECDBC5;

}

.grid-item-img{
  
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      row-gap: 1px;

  }
}

.contenedor {
  
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center ;
  background-color: #d0b06b;
  width: 100%;
  align-items: stretch;
  }

.columna {
  flex: 1;
  padding: 25px;
  text-align:center;  
  color: #ECDBC5;
  font-family: "Cormorant Garamond";
  font-size: 25px;
}

.columna:hover {
  color: #B23520;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #B8CCEC;
}



